<%= bootstrap_form_for(tutored_course, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10") do |form| %>
<% if tutored_course.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(tutored_course.errors.count, "error") %>
    prohibited this tutored_course from being saved:</h2>

  <ul>
    <% tutored_course.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<%= form.collection_select :course_id, Course.all, :id, :name %>

<%= form.form_group do %>
<%= form.submit %>
<% end %>
<% end %>
