<h1>Questions</h1>
<%= link_to 'Ask Question', new_question_path(lesson_id: @lesson.id) %>

<% @questions.each do |question| %>
<div class="question">
  <p><%= link_to question.title, question %></p>
  <% if current_student and question.student == current_student %>
  <span class="actions">
    <%= link_to 'Edit', edit_question_path(question) %>
    <%= link_to 'Delete', question, method: :delete, data: { confirm: 'Are you sure?' } %>
  </span>
  <% end %>
  <div class="question-by">
    by
    <%= question.student %>
  </div>
  <div class="question-lesson">
    Lesson:
    <%= link_to question.lesson, question.lesson %>
  </div>
</div>
<% end %>
