<%= link_to @question.lesson, @question.lesson %>

<p>
  <strong><%= @question.title %></strong>
</p>
<p>
  Privacy
  <strong><%= @question.privacy %></strong>
</p>
<p>
  <%= @question.content %>
</p>

<%= link_to 'Update', edit_question_path(@question) %>

<%= render 'answers/form' %>

<%= render @question.answers %>
