<header id="question-header">
  <h1><%= @question.title %></h1>
  Lesson:
  <%= link_to @question.lesson, @question.lesson %>
</header>
<section id="question-content">
  <%= @question.content %>
  <% if current_student and @question.student == current_student %>
  <%= link_to 'Edit', edit_question_path(@question) %>
  <% end %>
</section>

<section id="answers">
  <header>Answers</header>
  <div class="row">
    <%= render @question.answers %>
  </div>
</section>

<% if current_tutor %>
<%= render 'answers/form' %>
<% end %>
