<%= form_with(model: student_enrollment, local: true) do |form| %>
  <% if student_enrollment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student_enrollment.errors.count, "error") %> prohibited this student_enrollment from being saved:</h2>

      <ul>
      <% student_enrollment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :student_id %>
    <%= form.text_field :student_id, id: :student_enrollment_student_id %>
  </div>

  <div class="field">
    <%= form.label :tutored_course_id %>
    <%= form.text_field :tutored_course_id, id: :student_enrollment_tutored_course_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
