<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @student_enrollment.student %>
</p>

<p>
  <strong>Tutored course:</strong>
  <%= @student_enrollment.tutored_course %>
</p>

<%= link_to 'Edit', edit_student_enrollment_path(@student_enrollment) %> |
<%= link_to 'Back', student_enrollments_path %>
