<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user_profile.email %>
</p>

<p>
  <strong>First name:</strong>
  <%= @user_profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user_profile.last_name %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @user_profile.date_of_birth %>
</p>

<p>
  <strong>Street name:</strong>
  <%= @user_profile.street_name %>
</p>

<p>
  <strong>City:</strong>
  <%= @user_profile.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @user_profile.country %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @user_profile.phone_number %>
</p>

<%= link_to 'Edit', edit_user_profile_path(@user_profile) %> |
<%= link_to 'Back', user_profiles_path %>
