<%= bootstrap_form_for(lesson, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10") do |form| %>
<% if lesson.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(lesson.errors.count, "error") %>
    prohibited this lesson from being saved:</h2>

  <ul>
    <% lesson.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<%= form.collection_select :tutored_course_id, current_tutor.tutored_courses, :id, :to_s %>
<%= form.text_field :title, id: :lesson_title %>
<%= form.text_area :summary, id: :lesson_summary %>
<%= form.form_group do %>
<%= form.submit %>
<% end %>
<% end %>
