<nav>
  <% content_for :section_nav do %>
  <li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Video<span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <% if current_tutor and !(@lesson.video_lesson) %>
        <li>
          <%= link_to 'Upload video', new_video_lesson_path(lesson_id: @lesson.id ) %>
        </li>
        <li>
          <a href="#">Record</a>
        </li>
        <% end %>
      </ul>
    </li>
  </li>
  <li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Audio<span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <% if current_tutor and !(@lesson.audio_lesson) %>
        <li>
          <%= link_to 'Upload Audio', new_audio_lesson_path(lesson_id: @lesson.id ) %>
        </li>
        <li>
          <a href="#">Record</a>
        </li>
        <% end %>
      </ul>
    </li>
  </li>
  <% end %>
</nav>

<p>
  <strong><%= @lesson.title %></strong>
  (<%= @lesson.tutored_course.course %>)
</p>

<% if @lesson.video_lesson %>
<video width="320" height="240" controls>
  <source src="<%= @lesson.video_lesson.video%>" type="video/mp4">
  Your browser does not support the video tag.
</video>
<% elsif @lesson.audio_lesson %>
<audio id="soundtrack" controls preload="auto">
  <source src="<%= @lesson.audio_lesson.audio%>" type="audio/mp3">
</audio>
<% end %>

<p>
  <br/>
  <%= @lesson.summary %>
</p>

<%= link_to "Questions (#{questions_count @lesson})", questions_path(lesson_id: @lesson.id)%>
<br/>
<%= link_to 'Update', edit_lesson_path(@lesson) if current_tutor %>
