<p>
  <strong><%= @lesson.title %></strong>
  (<%= link_to @lesson.tutored_course.course, @lesson.tutored_course.course %>)
</p>

<p>
  <% @lesson.video_lessons.each do |video| %>
  <video width="320" height="240" controls>
    <source src="<%= video.video %>" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <% end %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @lesson.summary %>
</p>

<p>
  <%= link_to 'Add video content', new_video_lesson_path(lesson_id: @lesson.id ) %>
</p>

<%= link_to 'Update', edit_lesson_path(@lesson) %>
