<% content_for :section_nav do %>
<nav id="side-nav">
  <ul>
    <li id="nav-title">
      Courses
    </li>
    <li>
      <%= link_to 'Back', @back_path %>
    </li>
  </ul>
</nav>
<% end %>
<h1><%= @course %></h1>
<br/>
<p>
  <strong>Code:</strong>
  <%= @course.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<p>
  <strong>Level:</strong>
  <%= @course.level %>
</p>

<p>
  <strong>Price:</strong>
  <%= @course.price %>
</p>
