<!DOCTYPE html>
<html>
  <head>
    <title>Eduprovider</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_student %>
    <%= link_to "Logout Student", destroy_student_session_path, method: :delete %>
    <% elsif current_tutor %>
    <%= link_to "Logout Tutor", destroy_tutor_session_path, method: :delete %>
    <% end %>
    <%= yield %>
  </body>
</html>
